[Unit]
Description=DiscordBot Spring Boot Service
After=network-online.target lavalink.service
Wants=network-online.target

[Service]
Type=simple
User=discordbot
Group=discordbot
WorkingDirectory=/opt/discordbot
ExecStart=/usr/bin/java -jar /opt/discordbot/DiscordBot-alpha-1.0.jar
Restart=always
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
